<!--<div class="container">-->
<!--  <div class="table-container top-div">-->
<!--  -->
<!--  <button type="button" class="btn btn-primary btn-sm top-div" (click)="initNewDocument()"> Create New Document</button>-->
<!--  -->
<!--  <table class="center">-->
<!--    <table class="styled-table">-->
<!--      <thead>-->
<!--        <th>Id</th>-->
<!--        <th>Title</th>-->
<!--        <th>Author</th>-->
<!--        <th>Publisher</th>-->
<!--        <th>Published Date</th>-->
<!--        <th></th>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        <tr *ngFor="let document of documents">-->
<!--          <td>-->
<!--            <div class="row-wrapper">-->
<!--            {{ document.id }}-->
<!--            </div>-->
<!--          </td>-->
<!--          -->
<!--          <td><div class="row-wrapper">{{ document.title }}</div></td>-->
<!--          <td><div class="row-wrapper">{{ document.author }}</div></td>-->
<!--          <td><div class="row-wrapper">{{ document.publisher }}</div></td>-->
<!--          <td><div class="row-wrapper">{{ document.publishedDate }}</div></td>-->
<!--          <td><button type="button" class="btn btn-primary btn-sm" (click)="editDocument(document)"> Edit </button></td>-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </table>-->
<!--  <app-edit-document class="bottom-div" [document]="documentToEdit" (documentUpdated)="updateDocumentList($event)"></app-edit-document>-->
<!--</div>-->
<!--</div>-->
<app-authorize></app-authorize>


